<div>
    <header>
        <div class="principal position-absolute top-0 end-0">
            <img src="images/bg-header-desktop.png" alt="">
        </div>
     
      <div class="begin">
        <img src="images/logo.svg" alt="" class=" " width="250px">
        <div class="title1 ">
            <h1>A history of everything you copy</h1>
            <p class="title1p">Clipboard allows you to track and organize everything you copy.Instantly access your clipboard on all your devices.</p>
        </div>
        <div class="">
           <app-popup></app-popup>
        </div>
      </div>
    </header>

    <section>
        <div class="first">
            <div class="title">
                <h2>Keep track of your snippets</h2>
                <p>Clipboard Instantly stores any item you copy in the cloud,meaning you can access your snippets immediately on all your devices. Our Mac and IOS apps will help you organize everything.</p>
            </div>
            <div class="flexi d-flex justify-content-between">
                <img src="images/image-computer.png" alt="" class=" ">
                <div class="blocki d-block ">
                    <div class=" mb-5">
                        <h3>Quick search</h3>
                        <p>Easily search your snippets by content,category,web address,application,and more.</p>
                    </div>
                    <div class=" mb-5">
                        <h3>iCloud Sync</h3>
                        <p>Instantly saves and syncs snippets across all your devices.</p>
                    </div>
                    <div class="">
                        <h3>Complete History</h3>
                        <p>Retrieve any sniippets from the first moment you started using the app.</p>
                    </div>
                </div>
                
            </div>

        </div>
        <div class="second">
            <div class="title">
                <h2>Access Clipboard anywhere</h2>
                <p>Whether you're on the fo,or at your computer,you can access all your Clipboard snippets in a few simple Clicks.</p>
            </div>
            <img src="images/image-devices.png" alt="">
        </div>
        <div class="third">
            <div class="title">
                <h2>Supercharge your workflow</h2>
                <p>We've got the tools to boost your productivity.</p>
            </div>
            <div class="flexi1 row ">
                <div class="col-4">
                    <img src="images/icon-blacklist.svg" alt="" class="mb-5">
                    <h3 class="mb-5 fs-3">Create blacklists</h3>
                    <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
                </div>
                <div class="col-4">
                    <img src="images/icon-text.svg" alt="" class="mb-5">
                    <h3 class="mb-5 mt-2 fs-3">Plain text snippets</h3>
                    <p>Remove unwanted formatting from copied text for a consistent look.</p>
                </div>
                <div class="col-4">
                    <img src="images/icon-preview.svg" alt="" class="mb-5">
                    <h3 class="mb-5 mt-2 fs-3">Sneak preview</h3>
                    <p>Quick preview of all snippets on your Clipboard for easy access.</p>
                </div>
            </div>
        
        </div>
        <div class="forth row">
            <img class="col-2" src="images/logo-google.png" alt="">
            <img class="col-2" src="images/logo-ibm.png" alt="">
            <img class="col-2" src="images/logo-microsoft.png" alt="">
            <img class="col-2" src="images/logo-hp.png" alt="">
            <img class="col-2" src="images/logo-vector-graphics.png" alt="">
        </div>
        <div class="fifth">
            <div class="title">
                <h2>Clipboard for iOS and Mac OS</h2>
                <p>Available for free on the App Store.Download for Mac or iOs,sync with iCloud and you're ready to start adding to your clipboard.</p>
            </div>

            <div>
               <app-popup></app-popup>
            </div>
          </div>
    </section>

    <footer class="background">
        <div class="d-flex justify-content-between  custom-margin">
            <div class="foot  d-flex">
                <div>
                    <img  class="margini" src="images/logo.svg" alt=""> 
                </div>
               
            <div class="me-5">
                <h6 class="mb-4 mt-4">FAQs</h6>
                <h6>Contact Us</h6>
            </div>
            <div class="me-5">
                <h6 class="mb-4 mt-4">Privacy Policy</h6>
                <h6>Press Kit</h6>
            </div>
            <div class="me-5">
                <h6 class="mt-4">Install Guide</h6>
            </div>
    
            </div>
            
            <div class="mt-5">
                <img class="me-5 img" src="images/icon-facebook.svg" alt="">
                <img class="me-5 img" src="images/icon-twitter.svg" alt="">
                <img class="me-5 img" src="images/icon-instagram.svg" alt="">
            </div>
        </div>

    </footer>
    
   </div> 

